<div class="panel">
  <div class="panel-header">
    <div class="panel-title">{{title}}: {{changeset.title}}</div>
  </div>
  <div class="panel-nav">
    {{#if changeset.isInvalid }}
      <p>Fix the errors</p>
    {{/if}}
  </div>
  <div class="panel-body">
    {{validated-input changeset=changeset propertyName='title' placeholder="Chapter Title"}}
    {{validated-input changeset=changeset propertyName='order' placeholder="Chapter Order"}}
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary btn-save-chapter" {{action save changeset}}>Save</button>
    <button class="btn btn-default btn-reset-chapter" {{action rollback changeset}}>Reset</button>

    {{#if changeset.id}}
    <div class="divider text-center" data-content="OR"></div>
    {{link-to 'New content' 'content.new' class='btn btn-default'}}
    {{/if}}
    <div class="divider text-center"></div>
    {{link-to 'Back' 'courses' class='btn btn-link'}}
  </div>
</div>
