<div class="panel">
  <div class="panel-header">
    <div class="panel-title">{{title}}: {{changeset.title}}</div>
  </div>
  <div class="panel-nav">
    {{#if changeset.isInvalid }}
      <p>Fix the errors</p>
    {{/if}}
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="form-label" for="content-title">Title</label>
      {{input value=changeset.title placeholder="content title" id="content-title" class="form-input"}}
      {{#if changeset.error.title}}
        <div class="content-title-error">
          <p class="form-input-hint">{{changeset.error.title.validation}}</p>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary btn-save-content" {{action save changeset}}>Save</button>
    <button class="btn btn-default btn-reset-content" {{action rollback changeset}}>Reset</button>

    {{link-to 'Back' 'courses' class='btn btn-link'}}
  </div>
</div>
