<div class="panel">
  <div class="panel-header">
    <div class="panel-title">{{title}}: {{changeset.title}}</div>
  </div>
  <div class="panel-nav">
    {{#if changeset.isInvalid }}
      <p>Fix the errors</p>
    {{/if}}
  </div>
  <div class="panel-body">
    {{validated-input changeset=changeset propertyName='title' placeholder="Chapter Title"}}
    <div class="columns">
      <div class="column col-6">
        {{validated-input changeset=changeset propertyName='order' placeholder="Chapter Order"}}
      </div>
      <div class="column col-6">
        <div class="form-group">
          <label class="form-label" for="content-chapter">Chapter</label>
          {{#power-select
            options=chapters
            selected=changeset.chapter
            searchField='title'
            class='form-input'
            onchange=(action (mut changeset.chapter)) as |chapter|}}
              {{chapter.title}}
          {{/power-select}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="content-file">Content File</label>
      <input type="file" id='content-file' class='form-input'>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary btn-save-content" {{action save changeset}}>Save</button>
    <button class="btn btn-default btn-reset-content" {{action rollback changeset}}>Reset</button>

    {{link-to 'Back' 'courses' class='btn btn-link'}}
  </div>
</div>
