<div class="panel">
  <div class="panel-header">
    <div class="panel-title">{{title}}</div>
  </div>
  <div class="panel-nav">
  </div>
  <div class="panel-body">
    <div class="form-group">
      {{input value=changeset.name placeholder="Course name" class="form-input course-name-field"}}
    </div>
    <div class="form-group">
      {{input value=changeset.subtitle placeholder="Subtitle of the course" class="form-input course-subtitle-field"}}
    </div>
    <div class="form-group">
      {{input value=changeset.price placeholder="0.00" class="form-input course-price-field"}}
    </div>
    <div class="form-group">
      {{input value=changeset.duration placeholder="00.0" class="form-input course-duration-field"}}
    </div>
    <div class="form-group">
      {{froala-editor changeset.description (action (mut changeset.description)) (hash heightMin=200) class="course-description-field"}}
      <br>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary btn-save-course" {{action save changeset}}>Save</button>
  </div>
</div>
