<div class="panel">
  <div class="panel-header">
    <div class="panel-title">{{title}}: {{changeset.name}}</div>
  </div>
  <div class="panel-nav">
    {{#if changeset.isInvalid }}
      Fix the errors
    {{/if}}
  </div>
  <div class="panel-body">
    {{validated-input changeset=changeset propertyName='name' placeholder="Course Name"}}
    {{validated-input changeset=changeset propertyName='subtitle' placeholder="Course Subtitle"}}
    <div class="columns">
      <div class="column col-6">
        {{validated-input changeset=changeset placeholder="0.00" propertyName="price" inputTextBefore="$"}}
      </div>
      <div class="column col-6">
        {{validated-input changeset=changeset placeholder="00.0" propertyName="duration" inputTextAfter="hours"}}
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="course-description">Description</label>
      {{froala-editor changeset.description (action (mut changeset.description)) (hash heightMin=200) id="course-description"}}
      <br>
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary btn-save-course" {{action save changeset}}>Save</button>
    <button class="btn btn-default btn-reset-course" {{action rollback changeset}}>Reset</button>

    {{link-to 'Back' 'courses' class='btn btn-link'}}
  </div>
</div>
