<div class="card course">
  <div class="card-image">
  </div>
  <div class="card-header">
    <h4 class="card-title course-name">{{course.name}}</h4>
    <h6 class="card-subtitle">{{course.subtitle}}</h6>
  </div>
  <div class="card-body">
    <p>Price: $ {{course.price}}</p>
    <p>Duration of {{course.duration}} hours</p>
    <p class="total-of-chapters">Number of chapters: {{course.chapters.length}}</p>
    {{#each course.contents as |content|}}
      <p class="content">{{content.title}}</p>
    {{/each}}
  </div>
  <div class="card-footer">
    {{link-to 'Edit' 'course.edit' course class="btn btn-primary btn-course-update"}}
    {{link-to 'Chapters' 'chapters' course class="btn btn-default btn-course-chapter"}}
  </div>
</div>
