<div class="card course">
  <div class="card-image">
  </div>
  <div class="card-header">
    <h4 class="card-title course-name">{{course.name}}</h4>
    <h6 class="card-subtitle">{{course.subtitle}}</h6>
  </div>
  <div class="card-body">
    <p>Price: $ {{course.price}}</p>
    <p>Duration of {{course.duration}} hours</p>
  </div>
  <div class="card-footer">
    {{link-to 'Edit' 'main.courses.course.edit' course class="btn btn-primary"}}
  </div>
</div>
