<label class="form-label">{{capitalize propertyName}}</label>

<div class="input-group">
  {{#if inputTextBefore}}
    <span class="input-group-addon">{{inputTextBefore}}</span>
  {{/if}}

  {{input value=(get changeset propertyName) class="form-input" placeholder=placeholder}}

  {{#if inputTextAfter}}
    <span class="input-group-addon">{{inputTextAfter}}</span>
  {{/if}}
</div>
{{#if (get (get changeset.error propertyName) 'validation') as |error| }}
  <div class="chapter-{{propertyName}}-error">
    <p class="form-input-hint">{{error}}</p>
  </div>
{{/if}}
