<div class="container">
  <div class="columns col-gapless">
    <div class="column col-4"></div>
    <div class="column col-4">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Log-in</div>
        </div>
        <div class="panel-body">
          <form {{ action "authenticate" username password on="submit"}}>
            <div class="form-group">
              <label class="form-label" for="username">Username</label>
              {{input value=username placeholder="Use your unique username" id="username" class="form-input"}}
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              {{input value=password placeholder="Use your unique password" id="password" class="form-input" type="password"}}
            </div>
            <div class="form-group text-danger login-err">
              {{errorMessage}}
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-login"
                type="submit"
                disabled={{isLoggingIn}}>
                {{#if isLoggingIn}}
                  Checking...
                {{else}}
                  Let's go!
                {{/if}}
              </button>
            </div>
          </form>
        </div>
        <br>
      </div>
    </div>
    <div class="column col-4"></div>
  </div>
</div>
